# KC Crime 2018 Data Load

In this notebook I will load the 2018 KC Crime data into my postgres database. Again, I will use my data_science_connect package which I developed for connecting to my postgresql server. I downloaded in csv form from data.kcmo.org. Here's the link to the data.

https://data.kcmo.org/Crime/KCPD-Crime-Data-2018/dmjw-d28i

#### Load neccesary packages.

In [1]:
import pandas as pd
import numpy as np
import data_science_connect
from data_science_connect import connection

········

#### Load csv file into a pandas dataframe.

In [2]:
kcCrime2018 = pd.read_csv('KCPD_Crime_Data_2018.csv')

Let's explore the data for a minute to get a grasp of what is in the dataset.

In [3]:
kcCrime2018.head()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Rep_Dist,Area,DVFlag,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Location
0,180008944,02/05/2018,18:48,02/05/2018,15:23,02/05/2018,19:03,831,13C,Intimidation,...,PJ3226,CPD,N,1,SUS,W,F,49.0,N,"4000 MILL ST\nKANSAS CITY 64111\n(39.053635, -..."
1,180002450,01/10/2018,14:37,01/10/2018,11:00,01/10/2018,13:45,702,240,Auto Theft,...,PJ1470,CPD,U,1,SUS,U,U,NaN,N,"1700 GRAND\nBL KANSAS CITY 99999\n(42.370316, ..."
2,180001467,01/07/2018,02:42,01/07/2018,02:40,NaN,NaN,801,13B,Non Aggravated Assau,...,PJ3218,CPD,U,1,SUS,W,M,23.0,N,500 WESTPORT RD\nKANSAS CITY 64111\n(39.052779...
3,180001039,01/05/2018,09:51,01/04/2018,08:00,01/05/2018,09:10,831,13C,Intimidation,...,PJ1517,EPD,U,1,VIC,B,M,57.0,N,1600 ELMWOOD AV\nKANSAS CITY 64127\n(39.092424...
4,180002773,01/12/2018,06:29,01/12/2018,06:00,NaN,NaN,301,120,Strong Arm Robbery,...,PC1444,SCP,U,1,SUS,A,M,NaN,N,3200 N AMERISTAR DR\nKANSAS CITY 99999\n(39.15...

In [4]:
kcCrime2018.tail()

,Report_No,Reported_Date,Reported_Time,From_Date,From_Time,To_Date,To_Time,Offense,IBRS,Description,...,Rep_Dist,Area,DVFlag,Invl_No,Involvement,Race,Sex,Age,Firearm Used Flag,Location
128933,180099753,12/29/2018,11:16,12/21/2018,23:30,12/22/2018,NaN,640,23F,Stealing From Auto,...,PJ1022,CPD,U,1,SUS,U,U,NaN,N,"1100 GRAND\nBL KANSAS CITY 64106\n(39.100841, ..."
128934,180099246,12/27/2018,09:06,12/26/2018,18:00,12/27/2018,05:40,640,23F,Stealing From Auto,...,PJ0195,EPD,U,1,VIC,W,M,36.0,N,400 N COLORADO AV\nKANSAS CITY 64124\n(39.1161...
128935,180098640,12/24/2018,02:32,12/24/2018,02:32,NaN,NaN,802,13B,Non Agg Assault Dome,...,PJ4296,MPD,Y,1,VIC,W,F,30.0,N,2800 E 53 ST\nKANSAS CITY 64129
128936,180099276,12/27/2018,11:33,12/27/2018,11:33,NaN,NaN,2655,90J,Trespassing,...,PJ0641,CPD,U,1,VIC,NaN,NaN,NaN,N,1300 INDEPENDENCE AV\nKANSAS CITY 64106\n(39.1...
128937,180095349,12/11/2018,17:59,12/11/2018,17:59,NaN,NaN,1850,35B,Possession of Drug E,...,PJ6490,SPD,U,1,VIC,NaN,NaN,NaN,N,1300 E BANNISTER RD\nKANSAS CITY 64131\n(38.95...

In [9]:
kcCrime2018.describe()kcCrime2018.describe()

,Report_No,Offense,Beat,Zip Code,Invl_No,Age
count,1.289380e+05,128938.000000,127514.000000,128938.000000,128938.000000,70043.000000
mean,1.800333e+08,1006.382556,323.124245,64769.335999,1.262452,37.685151
std,7.552863e+05,649.285439,196.954451,4860.961653,1.266882,15.157687
min,5.002615e+07,101.000000,5.000000,0.000000,1.000000,18.000000
25%,1.800260e+08,640.000000,144.000000,64113.000000,1.000000,26.000000
50%,1.800505e+08,702.000000,314.000000,64127.000000,1.000000,34.000000
75%,1.800752e+08,1401.000000,421.000000,64132.000000,1.000000,47.000000
max,1.899366e+08,3079.000000,9999.000000,99999.000000,57.000000,506.000000

In [6]:
kcCrime2018.dtypes

Report_No              int64
Reported_Date         object
Reported_Time         object
From_Date             object
From_Time             object
To_Date               object
To_Time               object
Offense                int64
IBRS                  object
Description           object
Beat                 float64
Address               object
City                  object
Zip Code               int64
Rep_Dist              object
Area                  object
DVFlag                object
Invl_No                int64
Involvement           object
Race                  object
Sex                   object
Age                  float64
Firearm Used Flag     object
Location              object
dtype: object

We can see we're going to need to do some cleaning on the dataset. There are several NAs as well.