# 2019 KCPD Crime Data Aquisition, Carpentry, and Database Load.

In this notebook I download the 2019 KCDP crime data from data.kcmo.org, format it, and load it into a SQLite database.

#### This is a Socrata dataset so I'm going to try installing and using the sodapy package.

In [1]:
pip install sodapy

Requirement already satisfied: sodapy in /home/rducky/anaconda3/lib/python3.7/site-packages (1.5.4)
Requirement already satisfied: future>=0.17.1 in /home/rducky/anaconda3/lib/python3.7/site-packages (from sodapy) (0.17.1)
Requirement already satisfied: requests>=2.20.0 in /home/rducky/anaconda3/lib/python3.7/site-packages (from sodapy) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/rducky/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/rducky/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2019.6.16)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/rducky/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (1.25.3)
Requirement already satisfied: idna<2.9,>=2.5 in /home/rducky/anaconda3/lib/python3.7/site-packages (from requests>=2.20.0->sodapy) (2.8)
Note: you may need to restart the kernel to use updated packages.

#### Load neccesary packages.

In [2]:
import pandas as pd
import numpy as np
from dateutil import parser
import datetime
import json
import sodapy
import sqlite3

#### Get JSON object and place it in a Pandas DataFrame.

In [3]:
client = sodapy.Socrata(domain = "data.kcmo.org", app_token = "2BlqNquer3Zje80NhkrNCNJyU")

In [4]:
rows =client.get("pxaa-ahcm", limit = 200000)

In [5]:
kcCrime = pd.DataFrame.from_records(rows)

#### Explore the data.

In [6]:
len(kcCrime)

36132

In [7]:
kcCrime.head()

,report_no,reported_date,reported_time,from_date,from_time,offense,ibrs,description,beat,address,...,to_date,to_time,race,sex,age,location,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp
0,KC19019779,2019-03-18T00:00:00.000,14:18,2019-03-18T00:00:00.000,14:30,Stealing – Shoplift,23C,Shoplifting,345,11600 E US 40 HWY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KC19019997,2019-03-19T00:00:00.000,10:14,2019-03-18T00:00:00.000,23:00,Stealing from Auto (Theft from Auto),23F,Theft From Motor Vehicle,412,5600 N MARSTON AVE,...,2019-03-19T00:00:00.000,7:00,W,F,26,NaN,NaN,NaN,NaN,NaN
2,KC19020932,2019-03-22T00:00:00.000,9:49,2019-03-22T00:00:00.000,10:45,City/Municipal Warrant Arrest,NaN,NaN,999,00 S WATER ST,...,NaN,NaN,W,M,43,NaN,NaN,NaN,NaN,NaN
3,KC19021110,2019-03-22T00:00:00.000,21:38,2019-03-22T00:00:00.000,21:30,Stealing – Shoplift,23C,Shoplifting,423,8400 N MADISON AVE,...,NaN,NaN,B,F,NaN,"{'latitude': '39.248015', 'longitude': '-94.59...",180,5,4,82
4,KC19021677,2019-03-25T00:00:00.000,15:34,2019-03-21T00:00:00.000,16:00,Stealing from Building/Residence,23D,Theft From Building,NaN,00 E 14 ST,...,2019-03-21T00:00:00.000,18:43,W,F,54,NaN,NaN,NaN,NaN,NaN

In [8]:
kcCrime.dtypes

report_no                      object
reported_date                  object
reported_time                  object
from_date                      object
from_time                      object
offense                        object
ibrs                           object
description                    object
beat                           object
address                        object
city                           object
zip_code                       object
rep_dist                       object
area                           object
dvflag                         object
involvement                    object
firearm_used_flag                bool
to_date                        object
to_time                        object
race                           object
sex                            object
age                            object
location                       object
:@computed_region_kk66_ngf4    object
:@computed_region_9t2m_phkm    object
:@computed_region_my34_vmp8    object
:@computed_region_w4hf_t6bp    object
dtype: object

In [9]:
kcCrime['firearm_used_flag'].unique()

array([False,  True])

In [10]:
kcCrime['city'].unique()

array(['KANSAS CITY', 'LIBERTY', 'BELTON', 'LEES SUMMIT', 'KANSAAS CITY',
       'PLATTE CITY', 'INDEP', 'GLADSTONE', 'GRANDVIEW', 'OVERLAND PARK',
       'KASNAS CITY', 'KANASAS CITY', 'RIVERSIDE', 'KANSAS CITY MISSOURI',
       'CEDAR HILL', 'LENEXA', 'INDEPENDENCE', 'KC', nan, 'NKC',
       'SUGAR CREEK', 'KANSAS CTY', 'KANSA CITY',
       'KANSAS CITY MISSOURI USA', 'BLUE SPRINGS', 'SHAWNEE', 'ST JOSEPH',
       'FARMINGTON', 'RAYTOWN', 'KANAS CITY', 'SPRINGFIELD', 'KCK',
       'KANSAS CIY', 'NORTH KANSAS CITY', 'KANSAS', 'JEFFERSON CITY',
       'RAYMORE', 'KANSASCITY', 'KANSAS CIYT', 'DODGE CITY', 'MEXICO',
       "LEE'S SUMMIT", 'KANSAS CITIY', 'KANSASS CITY', 'CAMERON',
       'HARRISONVILLE', 'KANSAS CITYY', 'KANSS CITY', 'KNASAS CITY',
       'KANSAS CTITY', 'EXCELSIOR SPRINGS', 'KANSAS CTIY', 'KANSAS CIITY',
       'UNKNOWN', 'KANSAS UNIT', 'CAPE CANAVERAL', 'CENTERVIEW',
       'PLEASANT VALLEY', 'KNSAS CITY', 'KINGSTON', 'KANSA SCITY',
       'FULTON', 'DESERT HOT SPRINGS', 'KANSAS C ITY', '39', 'SMITHVILLE',
       'KANSAS CITH', 'WALNUT', 'PARKVILLE', 'CLAYCOMO', 'LICKING',
       'INDPENDENCE', 'PLATTE WOODS', 'OLATHE', 'LEE SUMMIT'],
      dtype=object)

In [11]:
kcCrime['location'][12]

{'latitude': '39.06078',
 'longitude': '-94.555626',
 'human_address': '{"address": "3600 OLIVE ST", "city": "KANSAS CITY", "state": "", "zip": ""}'}

In [12]:
kcCrime['dvflag'].unique()

array(['N', 'Y'], dtype=object)

In [13]:
kcCrime['involvement'].unique()

array(['VIC', 'ARR CHA', 'ARR CHA SUS', 'ARR CHA SOC', 'SUS', 'ARR SUS',
       'ARR CHA VDR', 'CMP VIC', 'CHA VDR', 'ARR SUS CHA VDR', 'VIC VDR',
       'ARR CHA SUS VDR', 'SUS SOC', 'CMP VIC A01', 'VIC SUS', 'CHA INA',
       'ARR SUS CHA', 'INA SUS', 'VIC DEC', 'VIC SUS OTH',
       'ARR SUS A02 CHA VPA', 'ARR CHA INA SUS', 'CHA SUS', 'CHA',
       'ARR CHA SUS VPA', 'ARR CHA CMP SUS', 'VIC A02', 'ARR', 'VIC WIT',
       'ARR CHA INA', 'ARR CHA INA SUS VDR', 'CMP VIC RES', 'CMP VIC VDR',
       'CHA SOC', 'ARR VIC SUS CHA', 'VIC SWM', 'VIC A02 VDR', 'CMP SUS',
       'VIC   OTH', 'ARR VPA', 'CHA INA SUS', 'INA ARR SUS',
       'CMP VIC SUS', 'VIC CNS', 'SUS VDR', 'SUS SOC VDR', 'SUS CHA',
       'ARR VDR', 'ARR CHA PED', 'SUS VPA', 'ARR CHA SUS VIC',
       'INA ARR SUS CHA VPA', 'CMP VIC WIT', 'SUS PNT',
       'CHA INA SOC SUS VDR', 'ARR CHA VPA', 'ARR CHA OTH',
       'INA ARR SUS CHA', 'CHA INA SUS VDR', 'ARR SOC', 'CHA VIC',
       'VIC   LOD', 'INA ARR SUS CHA VDR', 'SUS SOC CHA',
       'ARR CHA INA VPA', 'ARR CMP SUS CHA', 'ARR CHA SUS WIT', 'VIC VPA',
       'CMP VIC A02', 'SUS OTH', 'CHA INA SUS VPA', 'SUS VIC',
       'CMP VIC WIT POD', 'CMP VIC VOD SWM', 'VIC POD', 'INA',
       'ARR SUS RES', 'VIC   RNA LOD', 'VIC VOD', 'ARR CHA SOC SUS',
       'ARR CHA CMP', 'VIC OTH', 'A01 CHA', 'ARR CHA PED SUS',
       'VIC POD A02', 'VIC A01', 'A02 ARR CHA VDR', 'DEC VIC', 'VIC MIS',
       'ARR CHA INA SUS VPA', 'INA ARR CHA', 'A02 ARR CHA SUS VDR',
       'SUS WIT', 'ARR SUS CHA VDR PED', 'INA SUS CHA VDR', 'SUS PED',
       'ARR SUS VDR', 'CHA INA OTH SOC', 'INA SUS CHA', 'A02 ARR CHA SUS',
       'ARR SUS WIT CHA', 'SUS CHA VDR', 'VIC OOA', 'CHA WIT',
       'VIC A01 A02', 'ARR SUS SOC CHA', 'ARR CHA OTH SUS', 'SUS A02',
       'ARR SUS CHA VPA', 'WIT SUS', 'VOD', 'VIC   RNA', 'SUS SOC PNT',
       'A02 CHA VDR', 'SUS WIT CHA', 'VIC A01 DEC', 'ARR CHA CMP SUS VDR',
       'VIC BCY', 'INA VPA', 'ARR BCY CHA INA SUS', 'CHA CMP SUS',
       'VIC PED', 'CHA OTH VDR', 'VIC WIT A02', 'ARR CHA VIC',
       'CHA CMP WIT', 'INA ARR SUS VDR', 'INA SUS CHA VPA', 'SUS A01 VPA',
       'CMP VIC A01 A02', 'VIC SOC', 'ARR VIC', 'ARR SOC VDR',
       'A01 ARR CHA SUS', 'CMP VIC VPA LOD', 'SOC SUS', 'CMP VIC POD',
       'VIC   BCY', 'A01 ARR CHA INA SUS', 'INA VIC SUS', 'INA ARR',
       'ARR SUS VPA', 'A02 ARR CHA', 'RNA VIC', 'ARR CHA CMP PED SUS',
       'ARR CHA CMP INA SUS', 'SUS A01', 'VIC SUS WIT OTH', 'A02 SUS',
       'SUS RES', 'CMP VIC WIT A01 A02 SCK', 'INA SOC CHA VPA',
       'VIC   SUS', 'INA ARR VDR', 'SUS SCK', 'ARR SOC CHA VPA',
       'ARR SUS A02 CHA VDR', 'ARR OTH', 'ARR OTH VPA', 'VIC PNT',
       'INA CMP SUS CHA', 'VIC VOD SWM', 'ARR CHA CMP WIT', 'ARR VIC SUS',
       'VIC A01 POD', 'VIC SUS CHA', 'CHA SUS VDR', 'ARR INA SUS',
       'A02 ARR SUS', 'CHA CMP SUS VIC', 'INA ARR SOC CHA',
       'ARR CHA SCK SUS VDR', 'OTH VIC', 'SUS CNS', 'ARR OOA',
       'CMP VIC POD A02', 'ARR CHA OTH VDR', 'VIC MIS LOD',
       'ARR CHA INA OTH', 'INA VDR', 'INA CHA', 'VIC SUS VDR', 'VIC A10',
       'INA SUS VDR', 'ARR CMP CHA VDR', 'ARR CMP SUS CHA VDR',
       'ARR CHA SCK SUS', 'ARR A02 CHA', 'CHA CNS', 'VIC A01 POD SCK',
       'ARR CHA OTH SUS VDR', 'ARR CHA CMP INA', 'INA SUS VDR VPA',
       'A02 CHA', 'CHA VPA', 'ARR INA SOC SUS', 'CHA OTH', 'CMP VIC SOC',
       'ARR CMP SUS', 'INA SUS VPA', 'ARR SUS OTH', 'ARR MOT',
       'VIC A02 VPA', 'VIC SUS A01', 'SUS   RNA',
       'A01 ARR CHA INA SUS VDR', 'ARR SUS SOC CHA VPA',
       'A01 ARR CHA INA VDR', 'VIC SCK', 'CHA CMP VIC', 'ARR A02 VDR',
       'VIC RNA', 'SUS   RNA LOD', 'VIC POD A02 VDR',
       'ARR CHA INA SOC SUS VDR', 'ARR CHA INA VDR', 'INA ARR SUS OTH',
       'OTH SUS', 'VIC CHA VDR', 'CMP WIT SUS', 'CHA CMP', 'CHA SUS VIC',
       'ARR A02 CHA VPA', 'ARR BCY CHA', 'CHA PED', 'SUS DEC',
       'ARR SUS A02 VDR'], dtype=object)

In [14]:
kcCrime['offense'].unique()

array(['Stealing – Shoplift', 'Stealing from Auto (Theft from Auto)',
       'City/Municipal Warrant Arrest',
       'Stealing from Building/Residence',
       'Legacy Incident Report/Arrest', 'Stealing – Other',
       'Embezzlement', 'State Warrant Arrest', 'Vehicular – Injury',
       'Domestic Violence Assault (Non-Aggravated)',
       'Assault (Non-Aggravated)', 'Recovered Property',
       'Obstructing and Resisting an Officer',
       'Eluding / Resisting a Lawful Stop',
       'Robbery (Strong Armed Street)', 'Assault (Aggravated)',
       'Property Damage', 'Burglary (Non-Residential)',
       'Recovered Stolen Auto', 'Burglary (Residential)',
       'Vehicular – Non-Injury', 'Stolen Auto', 'Dead Body',
       'Harassment / Intimidation - Sex Crimes',
       'Possession/Distribution of Child Pornography',
       'Outside State Warrant Arrest', 'Rape', 'Terroristic Threats',
       'Alcohol Influence Report', 'Loss', 'Kidnapping', 'Unfounded',
       'Trespass of Real Property', 'Robbery (Residential)', 'Murder',
       'Interdiction', 'Sexual Misconduct', 'Sodomy',
       'Robbery (Armed Street)', 'Possession of Stolen Property',
       'Suicide – Attempted', 'Miscellaneous Investigation',
       'Disorderly Conduct',
       'Stealing from Auto (Auto Part or Accessory)',
       'Robbery (Business)', 'Arson', 'Molestation', 'Casualty',
       'Abuse of a Child', 'Domestic Violence Assault (Aggravated)',
       'Identity Theft', 'Missing/Runaway Juvenile',
       'Possession/Sale/Distribution of a Controlled Substance',
       'Violation of Full Order of Protection', 'Forgery',
       'Promoting Prostitution',
       'Violation of Ex-Parte Order of Protection',
       'Stealing – Pickpocket', 'Sodomy - Juvenile',
       'Fraud / Stealing Through Deceit (Scam/Confidence Game)',
       'Driving While Suspended/Revoked (State Offense)',
       'Animal Abuse/Cruelty', 'Stealing – Purse Snatch',
       'Domestic Violence Robbery (Armed)',
       'Endangering the Welfare of a Child', 'Discharge of Firearm',
       'Vehicular – Fatality', 'Domestic Violence Property Damage',
       'Fraudulent Use of a Credit Device',
       'Harassment / Intimidation - Domestic Violence',
       'Vehicular – Non-Injury Hit and Run', 'False Report',
       'Mental Health/Crisis Intervention Team (CIT) Report',
       'Trafficking in Identifications', 'Vehicular – Injury Hit and Run',
       'Miscellaneous City Ordinance Violation', 'Liquor Law Violation',
       'Missing Person', 'Sexual Misconduct - Juvenile', 'Buy Report',
       'Felon/Prohibited Person in Possession of a Firearm/Ammunition/Body Armor',
       'Possession of Illegal Firearm',
       'Assault (Non-Aggravated) on Department Member/Outside Law Enforcement Officer',
       'Sexual Abuse', 'Rape - Juvenile',
       'Domestic Violence Robbery (Strong-Armed)',
       'Attempt to Locate Motor Vehicle',
       'Service of an Ex-Parte Order of Protection', 'Tampering',
       'Soliciting Prostitution', 'Robbery (Financial Institution)',
       'Impersonation of Another Person', 'Child Custody Violation',
       'Possession of Drug Paraphernalia',
       'Financial Exploitation of the Elderly',
       'Patronizing Prostitution',
       'Possession/Sale/Distribution of an Imitation Controlled Substance',
       'Invasion of Privacy', 'Domestic Violence Burglary (Residential)',
       'Fraudulently Obtaining a Controlled Substance',
       'Human Trafficking/Involuntary Servitude',
       'Assault (Aggravated) on Department Member/Outside Law Enforcement Officer',
       'Stealing from Coin Operated Device', 'Juvenile Apprehension',
       'Elder Abuse', 'Failure to Return Leased or Rented Property',
       'Rape – Statutory', 'Suicide',
       'Tow-In Report/Authorization Not to Tow', 'False Bomb Report',
       'Sexual Abuse - Juvenile', 'Receiving Stolen Property', 'Stalking',
       'Burning or Exploding', 'Passing Bad Checks',
       'Enticement of a Minor', 'Parental Abduction',
       'Abandonment of a Child', 'Hacking/Computer Invasion',
       'Unlawful Endangerment of Another', 'Outside Correspondence',
       'Service of a Full Order of Protection',
       'Tavern/Nightclub Response Report',
       'Escape from Custody/Confinement',
       'Tampering with Physical Evidence', 'Illegal Alien',
       'Confiscated Firearm', 'Carrying a Concealed Weapon', 'Incest',
       'Recovered Missing/Runaway Juvenile',
       'Human Trafficking/Commercial Sex Acts'], dtype=object)

In [38]:
kcCrime['age'].unique()

array([nan, '26', '43', '54', '27', '30', '52', '28', '49', '25', '56',
       '29', '50', '53', '44', '19', '72', '42', '36', '40', '58', '18',
       '51', '24', '35', '41', '21', '31', '45', '79', '60', '66', '38',
       '34', '37', '55', '48', '39', '57', '59', '70', '23', '61', '83',
       '63', '68', '65', '62', '22', '20', '33', '82', '73', '47', '64',
       '32', '46', '92', '77', '71', '80', '85', '67', '69', '78', '88',
       '76', '97', '74', '75', '84', '81', '95', '87', '93', '90', '91',
       '86', '96', '89', '94', '99'], dtype=object)

In [35]:
kcCrime['zip_code'].unique()

array(['64133', '64151', '64068', '64154', '64106', nan, '64130', '64132',
       '64111', '64109', '64127', '64125', '64124', '64128', '64114',
       '64120', '64119', '64117', '64126', '64123', '64137', '64118',
       '64108', '64134', '64157', '64105', '64145', '64129', '64131',
       '64149', '64161', '64116', '64110', '64156', '64158', '64138',
       '64040', '64155', '64147', '64086', '64101', '64112', '64113',
       '64153', '64146', '64079', '64139', '64030', '64152', '64136',
       '66211', '64107', '64163', '64102', '63016', '64121', '66215',
       '64053', '64115', '64197', '64050', '64052', '54139', '64015',
       '64515', '64199', '66203', '6414', '64054', '64055', '64141',
       '64104', '64150', '6413', '64012', '6411', '61437', '65102',
       '67801', '65265', '64166', '64122', '64014', '66012', '61133',
       '66412', '64056', '65129', '64217', '64103', '64024', '99999',
       '63440', '66101', '65802', '34127', '32920', '63131', '64313',
       '64019', '63137', '66160', '64159', '64650', '64016', '66103',
       '66118', '34128', '65251', '92240', '65153', '64506', '6114',
       '6137', '65152', '66112', '65542', '64218', '64081', '64165',
       '6154', '64011', '64018', '66061', '64064'], dtype=object)

In [34]:
kcCrime['beat'].unique()

array(['345', '412', '999', '423', nan, '224', '242', '121', '142', '221',
       '115', '334', '344', '144', '315', '233', '241', '632', '222',
       '333', '341', '323', '531', '413', '534', '112', '542', '543',
       '331', '535', '634', '312', '545', '533', '342', '113', '541',
       '631', '134', '425', '313', '131', '212', '321', '415', '211',
       '643', '532', '244', '223', '314', '243', '234', '124', '642',
       '544', '125', '213', '114', '141', 'CPD', '133', '635', '231',
       '414', '232', '111', '122', '132', '411', '332', '123', '644',
       '633', '322', '421', '324', '641', '343', '636', '422', '311',
       '143', '225', 'OSPD', '424', '547', '245', 'PATROL', 'EAST', '238',
       '320', '214', 'MPD', 'NPD', '416', '116', '235', '228', '525',
       '325', '215', '676', '236', '145', 'NULL', 'EPD', '565', '227',
       '539', '210', '675', '117', '000', '64124', '246', '119', '546',
       '376', '522', '346', '511', 'OS', '5335', '335', '2099', '524',
       '120', '239', '537', '612', '135', '4111', '319', 'CW', '512'],
      dtype=object)

In [33]:
kcCrime['ibrs'].unique()

array(['23C', '23F', nan, '23D', '270', '13B', '90C', '120', '13A', '220',
       '240', '13C', '11A', '23H', '90D', '90Z', '100', '290', '90J',
       '09A', '11D', '11B', '280', '35A', '200', '26F', '90F', '250',
       '26B', '26A', '23B', '520', '23G', '90E', '90G', '370', '35B',
       '39A', '510', '40A', '26E', '64A', '26C', '23A', '90A', '23E',
       '210', '36B', '09D', '40B', '11C', '40C', '26G', '90B', '26D'],
      dtype=object)

In [15]:
kcCrime['reported_date'].head(10)

0    2019-03-18T00:00:00.000
1    2019-03-19T00:00:00.000
2    2019-03-22T00:00:00.000
3    2019-03-22T00:00:00.000
4    2019-03-25T00:00:00.000
5    2019-03-25T00:00:00.000
6    2019-03-26T00:00:00.000
7    2019-03-27T00:00:00.000
8    2019-03-27T00:00:00.000
9    2019-03-28T00:00:00.000
Name: reported_date, dtype: object

Format the time variables.

In [16]:
for i in range(0, len(kcCrime['reported_date'])):
    kcCrime['reported_date'][i] = kcCrime['reported_date'][i][:10]

/home/rducky/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
kcCrime.dtypes

report_no                      object
reported_date                  object
reported_time                  object
from_date                      object
from_time                      object
offense                        object
ibrs                           object
description                    object
beat                           object
address                        object
city                           object
zip_code                       object
rep_dist                       object
area                           object
dvflag                         object
involvement                    object
firearm_used_flag                bool
to_date                        object
to_time                        object
race                           object
sex                            object
age                            object
location                       object
:@computed_region_kk66_ngf4    object
:@computed_region_9t2m_phkm    object
:@computed_region_my34_vmp8    object
:@computed_region_w4hf_t6bp    object
dtype: object

In [18]:
kcCrime['reported_date'].head()

0    2019-03-18
1    2019-03-19
2    2019-03-22
3    2019-03-22
4    2019-03-25
Name: reported_date, dtype: object

In [28]:
kcCrime['reported_date'] = pd.to_datetime(kcCrime['reported_date'])

In [30]:
kcCrime['month'] = kcCrime['reported_date'].dt.strftime('%b')

In [31]:
kcCrime.dtypes

report_no                              object
reported_date                  datetime64[ns]
reported_time                          object
from_date                              object
from_time                              object
offense                                object
ibrs                                   object
description                            object
beat                                   object
address                                object
city                                   object
zip_code                               object
rep_dist                               object
area                                   object
dvflag                                 object
involvement                            object
firearm_used_flag                        bool
to_date                                object
to_time                                object
race                                   object
sex                                    object
age                                    object
location                               object
:@computed_region_kk66_ngf4            object
:@computed_region_9t2m_phkm            object
:@computed_region_my34_vmp8            object
:@computed_region_w4hf_t6bp            object
month                                  object
dtype: object

In [32]:
kcCrime.head()

,report_no,reported_date,reported_time,from_date,from_time,offense,ibrs,description,beat,address,...,to_time,race,sex,age,location,:@computed_region_kk66_ngf4,:@computed_region_9t2m_phkm,:@computed_region_my34_vmp8,:@computed_region_w4hf_t6bp,month
0,KC19019779,2019-03-18,14:18,2019-03-18T00:00:00.000,14:30,Stealing – Shoplift,23C,Shoplifting,345,11600 E US 40 HWY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mar
1,KC19019997,2019-03-19,10:14,2019-03-18T00:00:00.000,23:00,Stealing from Auto (Theft from Auto),23F,Theft From Motor Vehicle,412,5600 N MARSTON AVE,...,7:00,W,F,26,NaN,NaN,NaN,NaN,NaN,Mar
2,KC19020932,2019-03-22,9:49,2019-03-22T00:00:00.000,10:45,City/Municipal Warrant Arrest,NaN,NaN,999,00 S WATER ST,...,NaN,W,M,43,NaN,NaN,NaN,NaN,NaN,Mar
3,KC19021110,2019-03-22,21:38,2019-03-22T00:00:00.000,21:30,Stealing – Shoplift,23C,Shoplifting,423,8400 N MADISON AVE,...,NaN,B,F,NaN,"{'latitude': '39.248015', 'longitude': '-94.59...",180,5,4,82,Mar
4,KC19021677,2019-03-25,15:34,2019-03-21T00:00:00.000,16:00,Stealing from Building/Residence,23D,Theft From Building,NaN,00 E 14 ST,...,18:43,W,F,54,NaN,NaN,NaN,NaN,NaN,Mar