# KC_Crime_2018 Table Definition.

In this notebook we use psycopg2 package to connect to a postgres instance I have running in my AWS instance and create the table for the 2018 KC_Crime data. To do this we'll use a package that I built to connect to the server.

In [17]:
# Import neccesary packages.
import data_science_connect
from data_science_connect import connection

········

Define the table.

In [18]:
CREATE_SQL = """
    DROP TABLE IF EXISTS KC_Crime_2018;
    CREATE TABLE KC_Crime_2018 (
        report_no INT NOT NULL,
        reported_date TIMESTAMP,
        reported_time VARCHAR(255),
        from_date TIMESTAMP,
        from_time VARCHAR(50),
        to_date TIMESTAMP,
        to_time VARCHAR(50),
        offense INT,
        ibrs VARCHAR(50),
        desription VARCHAR(255),
        beat INT,
        address VARCHAR(255),
        city VARCHAR(255),
        zip_code VARCHAR(255),
        rep_dist VARCHAR(255),
        area VARCHAR(255),
        dvflag VARCHAR(255),
        invl_no INT,
        involvement VARCHAR(50),
        race VARCHAR(255),
        sex VARCHAR(255),
        age INT,
        firearm_used_flag VARCHAR(255),
        longitude FLOAT(8),
        latitude FLOAT(8),
        PRIMARY KEY (report_no)
    );
"""

with connection, connection.cursor() as cursor:
    cursor.execute(CREATE_SQL)

Run a quick query to be sure the table was created successfully.

In [21]:
import pandas as pd

SQL_QUERY = """
    SELECT *
    FROM KC_Crime_2018;
"""

pd.read_sql(SQL_QUERY, connection)

Empty DataFrame
Columns: [report_no, reported_date, reported_time, from_date, from_time, to_date, to_time, offense, ibrs, desription, beat, address, city, zip_code, rep_dist, area, dvflag, invl_no, involvement, race, sex, age, firearm_used_flag, longitude, latitude]
Index: []

[0 rows x 25 columns]